img {
    max-width: 40%;
    margin: auto;
    display:inline-block;
    margin: 4%;
}

.selected {
    border: 2px solid #a932ff;
    margin: 3.5%;
}

button {
    margin: 8px;
}

#menu {
    display: none;
    margin: 4%;
}

#menu button {
    font-size: 75%;
}

#screens li {
    font-size: 130%;
    list-style: none;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    width: 120px;
    border: 1px solid gray;
}
#screens li.active {
    background-color: dimgray;
    color: white;
}
#screens li:hover {
    background-color: lightgray;
}

